@import url('https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap');

:root {
  --blanco: #dddddd;
  --gris: #BBBBBB;
  --negro: #141615;
  --amarillo: #c78c19;
}

html {
  scroll-behavior: smooth;
}

.titulo {
  font-family: "Playfair Display SC", serif;
}

* {
  font-family: "Rhodium Libre", serif;

  &::selection {
    background-color: var(--amarillo);
    /* Cambia el color de fondo de la selección */
    color: var(--blanco);
    /* Cambia el color del texto seleccionado */
  }

  scroll-behavior: smooth;

}

li,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--blanco) !important;
}

p {
  margin-bottom: 5%;
  line-height: 1.5;
  letter-spacing: 2px;
  color: var(--blanco) !important;
}

body {
  background-color: var(--gris) !important;
}

.btn-primary {
  background-color: var(--amarillo) !important;
  border: none !important;
  color: var(--blanco) !important;

  &:hover {
    background-color: var(--blanco) !important;
    color: var(--negro) !important;
  }
}

.btn {
  border-radius: 30px !important;
}

.text-white {
  color: var(--blanco);
}

.bi {
  margin-right: 5px;
}