<footer class="container-fluid pt-4 pb-4" id="footer">
    <div class="container">
        <div class="row text-white">
            <div class="col-md-4 mb-3 mt-3">
                <h5 class="mb-3">Información de contacto</h5>
                <p>
                    <i class="bi bi-geo-alt-fill"></i> Dirección: Calle de la Elegancia,
                    123, Ciudad Elegante, Estado del Estilo
                </p>
                <p>
                    <i class="bi bi-phone-fill"></i> Teléfono: +1 (555) 123-4567
                </p>
                <p>
                    <i class="bi bi-envelope-fill"></i> Email: info@barberiaalura.com
                </p>
            </div>

            <div class="col-md-4 mb-3 mt-3">
                <h5 class="mb-3">Enlaces rápidos</h5>
                <ul>
                    <li class="mb-3"><a href="/">Inicio</a></li>
                    <li class="mb-3"><a href="/productos">Servicios</a></li>
                    <li class="mb-3"><a href="/contacto">Contacto</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3 mt-3">
                <h5 class="mb-3">Síguenos en redes sociales</h5>
                <ul class="list-inline">
                    <li class="list-inline-item m-3">
                        <a
                            target="_blank"
                            href="https://www.facebook.com/aluracursoslatam/?locale=es_LA"
                            ><i class="bi bi-facebook display-5"></i></a
                        >
                    </li>
                    <li class="list-inline-item m-3">
                        <a
                            target="_blank"
                            href="https://www.instagram.com/aluralatam/?hl=es"
                            ><i class="bi bi-instagram display-5"></i></a
                        >
                    </li>
                    <li class="list-inline-item m-3">
                        <a
                            target="_blank"
                            href="https://www.linkedin.com/company/alura-latam/?originalSubdomain=mx"
                            ><i class="bi bi-linkedin display-5"></i></a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div class="container-fluid pt-3 pb-2" id="footfooter">
    <div class="col-12">
        <p class="text-center small text-white">
            &copy; 2024 Barbería Alura. Todos los derechos reservados.
        </p>
    </div>
</div>

<style>
    * {
        color: var(--blanco);
    }
    #footer {
        min-height: 80vh;
        background-image: url(/public/imgs/fondos/3.png);
        background-size: cover;
        background-position: center;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #footfooter {
        background-color: var(--negro);
    }

    a {
        text-decoration: none;
        transition: all ease-in-out 200ms;
    }

    a:hover {
        color: var(--amarillo);
        transform: scale(1.1) !important;
    }

    .bi {
        transition: all ease-in-out 200ms;
    }

    a:hover .bi {
        color: var(--amarillo);
        transform: scale(1.1) !important;
    }
</style>
