<footer class="container-fluid pt-4 pb-4" id="footer">
    <div class="container">
        <div class="row text-white">
            <div class="col-md-4 mb-3 mt-3">
                <h5 class="mb-3">Información de contacto</h5>
                <p>Dirección: [Dirección de la barbería]</p>
                <p>Teléfono: [Número de teléfono]</p>
                <p>Email: [Correo electrónico]</p>
            </div>
            <div class="col-md-4 mb-3 mt-3">
                <h5 class="mb-3">Enlaces rápidos</h5>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Galería</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3 mt-3">
                <h5 class="mb-3">Síguenos en redes sociales</h5>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="#"><i class="bi bi-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="bi bi-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="bi bi-instagram"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="bi bi-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div class="container-fluid pt-3 pb-2" id="footfooter">
    <div class="col-12">
        <p class="text-center small text-white">
            &copy; 2024 Barbería Alura. Todos los derechos reservados.
        </p>
    </div>
</div>

<style>
    * {
        color: var(--blanco);
    }
    #footer {
        min-height: 80vh;
        background-image: url(/public/imgs/fondos/3.png);
        background-size: cover;
        background-position: center;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #footfooter {
        background-color: var(--negro);
    }
</style>
