<div class="container-fluid vh-100 d-flex flex-column" id="hero">
  <div class="row flex-grow-1 justify-content-center align-items-center">
    <div class="col-12 text-center">
      <h2 class="titulo-hero display-5">Bienvenido a Barbería Alura</h2>
      <p>
        En la barbería, la destreza del barbero es tan afilada como sus
        herramientas,<br> creando más que un corte de pelo, una experiencia de
        confianza y estilo.
      </p>
      <a href="#" class="btn btn-primary">Explora nuestros servicios</a>
    </div>
  </div>
</div>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");

  #hero {
    min-height: 100vh;
    background-image: url(/public/imgs/banner.png);
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .titulo-hero {
    font-family: "Rubik Dirt", system-ui !important;
  }

  * {
    color: aliceblue;
  }

  .bi-arrow-down-circle {
    animation: bounce 2s infinite;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }
  }
</style>
