<div class="container-fluid vh-100 d-flex flex-column" id="hero">
  <div
    class="row flex-grow-1 justify-content-center align-items-center text-white"
  >
    <div class="col-12 text-center">
      <h2 class="titulo-hero display-3">Bienvenido a Barbería Alura</h2>
      <p>
        En la barbería, la destreza del barbero es tan afilada como sus
        herramientas,<br /> creando más que un corte de pelo, una experiencia de
        confianza y estilo.
      </p>
      <a href="#" class="btn btn-primary"
        ><i class="bi bi-tools"></i> Explora nuestros servicios</a
      >
    </div>
  </div>
  <div class="row flex-grow-0 justify-content-center align-items-end">
    <div class="col-12 text-center mb-3">
      <p class="small">Desplácese hacia abajo para más información</p>
      <div class="bi bi-arrow-down-circle fs-2"></div>
    </div>
  </div>
</div>

<div class="container-fluid pt-4 pb-4" id="sobre">
  <div class="container">
    <div class="row">
      <div class="col-md-6 pt-3 pb-3">
        <img
          src="/imgs/barberia-poste.png"
          alt="Barbería Alura"
          class="img-fluid"
        />
      </div>
      <div class="col-md-6">
        <h2 class="display-4 titulo">Barbería Alura</h2>
        <p class="parrafo">
          <strong
            >Ubicada en el corazón de la ciudad, la Barbería Alura trae para el
            mercado lo que hay de mejor para su cabello y barba.</strong
          > Fundada en 2020, la Barbería Alura ya es destaque en la ciudad y conquista
          nuevos clientes diariamente.
        </p>
        <p class="parrafo">
          <em
            >Nuestra misión es: "Proporcionar autoestima y calidad de vida a
            nuestros clientes".</em
          >
        </p>
        <p class="parrafo">
          <em
            >Ofrecemos profesionales experimentados que están constantemente
            observando los cambios y movimiento en el mundo de la moda, para así
            ofrecer a nuestros clientes las últimas tendencias.</em
          > El atendimiento posee un padrón de <u>excelencia y agilidad</u>,
          garantizando calidad y satisfacción de nuestros clientes.
        </p>

        <a href="" class="btn btn-primary"
          ><i class="bi bi-eye"></i> ¡Ver servicios!</a
        >
      </div>
    </div>
  </div>
</div>

<div class="container-fluid pt-4 pb-4" id="ubicacion">
  <div class="container">
    <div class="row text-white">
      <div class="col-md-6">
        <h2 class="">Ubicación</h2>
        <p class="">
          Nuestro establecimiento está ubicado en el corazón de la ciudad.
        </p>
        <p class="">Aquí encontrarás algunos lugares de interés cercanos:</p>
        <ul class="">
          <li>Parque Central</li>
          <li>Museo de Arte Moderno</li>
          <li>Restaurantes y cafeterías locales</li>
          <li>Tiendas de moda</li>
        </ul>
        <h2 class="">Diferenciales</h2>
        <ul class="">
          <li>Atención personalizada a los clientes.</li>
          <li>Espacio diferenciado.</li>
          <li>Localización privilegiada.</li>
          <li>Profesionales calificados.</li>
          <li>Puntualidad.</li>
          <li>Limpieza.</li>
        </ul>
      </div>
      <div class="col-md-6">
        <!-- Mapa proporcionado -->
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14625.344520227685!2d-46.639960104652474!3d-23.592275163106716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5a2b2ed7f3a1%3A0xab35da2f5ca62674!2sCaelum%20-%20Education%20and%20Innovation!5e0!3m2!1ses-419!2sco!4v1678989398786!5m2!1ses-419!2sco"
          width="100%"
          height="100%"
          style="border: 0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

  #hero {
    min-height: 100vh;
    background-image: url(/public/imgs/fondos/1.png);
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .titulo-hero {
    font-family: "Playfair Display SC", serif;
  }

  .bi-arrow-down-circle {
    animation: bounce 2s infinite;
    color: var(--blanco);
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  #sobre {
    min-height: 100vh;
    background-image: url(/public/imgs/bg.jpg);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .parrafo,
  strong,
  em,
  u {
    color: var(--blanco);
  }

  .titulo {
    font-weight: bold;
    color: var(--negro);
    font-family: "Playfair Display SC", serif;
    margin-bottom: 15px;
  }

  #ubicacion {
    min-height: 100vh;
    background-color: var(--negro);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  #footer {
    min-height: 80vh;
    background-image: url(/public/imgs/fondos/3.png);
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  #footfooter {
    background-color: var(--negro);
  }
</style>
