<div class="container-fluid pt-4 pb-4" id="sobre">
  <div class="container">
    <div class="row">
      <div class="col-md-6 pb-3">
        <img
          src="/imgs/imagen-acerca.jpg"
          class="img-fluid"
          alt="Barbería Alura"
        />
      </div>
      <div class="col-md-6">
        <h2 class="display-2">Sobre la Barbería Alura</h2>
        <p>
          Ubicada en el corazón de la ciudad, la Barbería Alura trae para el
          mercado lo que hay de mejor para su cabello y barba. Fundada en 2020,
          la Barbería Alura ya es destaque en la ciudad y conquista nuevos
          clientes diariamente.
        </p>
        <p>
          Nuestra misión es: "Proporcionar autoestima y calidad de vida a
          nuestros clientes".
        </p>
        <p>
          Ofrecemos profesionales experimentados que están constantemente
          observando los cambios y movimiento en el mundo de la moda, para así
          ofrecer a nuestros clientes las últimas tendencias. El atendimiento
          posee un padrón de excelencia y agilidad, garantizando calidad y
          satisfacción de nuestros clientes.
        </p>
      </div>
    </div>
  </div>
</div>

<style>
    #sobre{
        min-height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    h2{
      font-weight: bolder;
    }
</style>